@font-face {
    font-family: "Berkshire";
    src: url('BerkshireSwash-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: "Gabriela";
    src: url('Gabriela-Regular.ttf') format('truetype');
  }
header {
    font-family: "Berkshire", 'Arial Narrow', Arial, sans-serif;
    display: flex; 
}
h1 {
    font-family: "Berkshire", 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h2 {
    font-family: "Berkshire", 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding: auto;
    margin-left: 50px;
    margin-right: auto;
}
h3 {
    text-align: left;
    padding: auto;
    margin-left: 50px;
    margin-right: auto;
}
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
nav ul {
    padding: .5em 1em;
    margin: .5em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    word-spacing: 3px;
}
nav ul li{
    list-style-type: none;
    padding: 20px;
}
p {
    text-align: left;
    padding: auto;
    margin-left: 50px;
    margin-right: auto;
}
body {
    font-family: "Gabriela", 'Arial Narrow', Arial, sans-serif;
    justify-content: left;
    flex-direction: row;
    background-color: azure
}

img {
    padding: 25px;
}