@font-face {
    font-family: "DIN";
    src: url('DIN\ Alternate\ Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: "Brush Script";
    src: url('Brush\ Script.ttf') format('truetype');
  }
header {
    background-color: #D5BFE0;
    width: 100%;
    color: white;
    display: flex; 
    align-items: center;
    font-family: "Brush Script", 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-size: 36pt;
    text-align: center;
    font-family: "Brush Script", 'Arial Narrow', Arial, sans-serif;
}
h2 {
    text-align: center;
    padding-left: 20px;
}
h3 {
    text-align: center;
}
#logo {
    padding: 25px;
}
nav {
    background-color: #D5BFE0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul {
    padding: .5em 1em;
    margin: .5em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    word-spacing: 3px;
    font-size: 28pt;
}
nav ul li{
    list-style-type: none;
    padding: 20px;
}
a {
    list-style: none;
    text-decoration: none;
}
a img {
    padding: 50px;
}
body {
    font-family: "DIN", 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0%;
}
img {
    padding: 20px;
}
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
p {
    padding: 20px;
}
.photos {
    display: flex;
    justify-content: center;
}
#projects img {
    width: 20%;
}
#Hat {
    width: 10%;
}



.gallery-container {
    width: 97%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    white-space: nowrap;
  
    border-radius: 8px;
    scrollbar-width: thick;
  }
  .gallery-container::-webkit-scrollbar {
    height: 12px; /* Adjust the height of the horizontal scrollbar */
    background: #D5BFE0; /* Background of the scrollbar track */
  }
  
  .gallery-container::-webkit-scrollbar-thumb {
    background: #5A2A7E; /* Color of the draggable scrollbar thumb */
    border-radius: 10px; /* Round the scrollbar thumb */
  }
  
  .gallery-container::-webkit-scrollbar-thumb:hover {
    background: #5A2A7E; /* Color of the scrollbar thumb on hover */
  }
  

.gallery {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }
  
  .gallery img {
    width: 500px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
  }



@media (max-width: 1024px) {
    .photos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    a img {
        padding: 20px;
    }
    #projects img {
        width: 40%;
    }
    #Hat {
        width: 20%;
    }
}
  /* .MyPhoto {
    float: right;
    justify-items: flex-end;
    padding: 30px;
    margin-bottom: auto;
    margin-right: 50px;
  }
.graphics {
    font-family: "Brush Script", 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: left;
    white-space: nowrap;
    align-items: center;
    margin-left: 50px;
    width: 450px
}
.graphics img {
 padding: 30px;
}
.skills {
    display: flex;
    flex-direction: column;
}
p {
    padding-left: 20px;
    align-items: center;
} */





