  @font-face {
    font-family: "DIN";
    src: url('DIN\ Alternate\ Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: "Brush Script";
    src: url('Brush\ Script.ttf') format('truetype');
  }
  header {
    background-color: #D5BFE0;
    width: 100vw;
    margin: 0%;
    display: flex; 
    align-items: center;
    font-family: "Brush Script", 'Arial Narrow', Arial, sans-serif;
    margin-right: 0%;
}
h1 {
    font-size: 36pt;
    text-align: center;
    font-family: "Brush Script", 'Arial Narrow', Arial, sans-serif;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
#logo {
    padding-top: 25px;
}
nav {
    background-color: #D5BFE0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    word-spacing: 3px;
    font-size: 28pt;
    background-color: #D5BFE0;
    margin-right: 85px;
}
nav ul li{
    list-style-type: none;
    padding: 20px;
}
a {
    list-style: none;
    text-decoration: none;
}
body {
    font-family: "DIN", 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}
.photos {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}
img {
    padding: 20px;
}
html {
    margin: 0;
    padding: 0;
}


@media (min-width: 700px) {
    @font-face {
        font-family: "DIN";
        src: url('DIN\ Alternate\ Bold.ttf') format('truetype');
      }
      @font-face {
        font-family: "Brush Script";
        src: url('Brush\ Script.ttf') format('truetype');
      }
      header {
        background-color: #D5BFE0;
        width: 103vw;
        margin: 0%;
        display: flex; 
        align-items: center;
        font-family: "Brush Script", 'Arial Narrow', Arial, sans-serif;
        margin-right: 0%;
    }
    h1 {
        font-size: 36pt;
        text-align: center;
        font-family: "Brush Script", 'Arial Narrow', Arial, sans-serif;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    #logo {
        padding-top: 25px;
    }
    nav {
        background-color: #D5BFE0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        word-spacing: 3px;
        font-size: 28pt;
        background-color: #D5BFE0;
        
    }
    nav ul li{
        list-style-type: none;
        padding: 20px;
    }
    a {
        list-style: none;
        text-decoration: none;
    }
    body {
        font-family: "DIN", 'Arial Narrow', Arial, sans-serif;
        background-color: whitesmoke;
        margin: 0;
    }
    .photos {
        display: flex;
        justify-content: center;
        padding-left: 20px;
    }
    img {
        padding: 20px;
    }
    html {
        margin: 0;
        padding: 0;
    }
    
}