@font-face {
    font-family: "DIN";
    src: url('DIN\ Alternate\ Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: "Brush Script";
    src: url('Brush\ Script.ttf') format('truetype');
  }
header {
    font-family: "Brush Script", 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    text-align: center;
}
h1 {
    font-family: "Brush Script", 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 36pt;
}
p {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}
h3 {
    text-align: center;
}
body {
    background-color: whitesmoke;
    font-family: "Gabriela", 'Arial Narrow', Arial, sans-serif;
}
img {
    padding: 20px;
}
@media (max-width:768px) {
    p {
        flex-direction: column;
        margin: 0;
        padding: 20px;
        align-items: center;
    }
    header img {
        width: 50%;
    }
}